## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key
%matplotlib inline
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hermanus,ZA,-34.4187,19.2345,53.80,86,100,12.50,light rain
1,1,Busselton,AU,-33.6500,115.3333,59.58,80,67,20.83,light rain
2,2,Svay Rieng,KH,11.0879,105.7993,76.77,87,100,3.80,overcast clouds
3,3,Ribeira Grande,PT,38.5167,-28.7000,73.80,94,40,6.91,scattered clouds
4,4,Hobart,AU,-42.8794,147.3294,50.25,88,75,5.75,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Svay Rieng,KH,11.0879,105.7993,76.77,87,100,3.80,overcast clouds
13,13,Nanakuli,US,21.3906,-158.1547,84.11,58,0,11.65,clear sky
14,14,Hilo,US,19.7297,-155.0900,87.28,83,100,5.75,overcast clouds
16,16,Norman Wells,CA,65.2820,-126.8329,78.84,31,75,8.05,broken clouds
24,24,Matara,LK,5.9485,80.5353,77.56,89,100,13.71,overcast clouds
25,25,Butaritari,KI,3.0707,172.7902,81.10,77,34,9.75,light rain
26,26,Itarema,BR,-2.9248,-39.9167,79.30,80,79,16.53,broken clouds
36,36,Avarua,CK,-21.2078,-159.7750,78.85,78,20,4.61,few clouds
38,38,Albany,US,42.6001,-73.9662,88.59,54,52,7.49,broken clouds
41,41,Pangai,TO,-19.8000,-174.3500,75.29,78,75,15.93,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 227 entries, 2 to 680
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              227 non-null    int64
 1   City                 227 non-null    object
 2   Country              227 non-null    object
 3   Lat                  227 non-null    float64
 4   Lng                  227 non-null    float64
 5   Max Temp             227 non-null    float64
 6   Humidity             227 non-null    int64
 7   Cloudiness           227 non-null    int64
 8   Wind Speed           227 non-null    float64
 9   Current Description  227 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 19.5+ KB

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.copy()
clean_df.dropna(how='any', inplace=True)
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Svay Rieng,KH,11.0879,105.7993,76.77,87,100,3.80,overcast clouds
13,13,Nanakuli,US,21.3906,-158.1547,84.11,58,0,11.65,clear sky
14,14,Hilo,US,19.7297,-155.0900,87.28,83,100,5.75,overcast clouds
16,16,Norman Wells,CA,65.2820,-126.8329,78.84,31,75,8.05,broken clouds
24,24,Matara,LK,5.9485,80.5353,77.56,89,100,13.71,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
664,664,Suzhou,CN,31.3114,120.6181,82.09,88,100,4.83,overcast clouds
671,671,Dicabisagan,PH,17.0818,122.4157,79.18,85,32,1.77,scattered clouds
674,674,Escanaba,US,45.7453,-87.0646,87.94,35,0,13.80,clear sky
677,677,Huangmei,CN,30.1924,116.0250,81.81,85,72,2.44,broken clouds
680,680,Adeje,ES,28.1227,-16.7260,80.22,83,0,4.61,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Svay Rieng,KH,76.77,overcast clouds,11.0879,105.7993,
13,Nanakuli,US,84.11,clear sky,21.3906,-158.1547,
14,Hilo,US,87.28,overcast clouds,19.7297,-155.0900,
16,Norman Wells,CA,78.84,broken clouds,65.2820,-126.8329,
24,Matara,LK,77.56,overcast clouds,5.9485,80.5353,
25,Butaritari,KI,81.10,light rain,3.0707,172.7902,
26,Itarema,BR,79.30,broken clouds,-2.9248,-39.9167,
36,Avarua,CK,78.85,few clouds,-21.2078,-159.7750,
38,Albany,US,88.59,broken clouds,42.6001,-73.9662,
41,Pangai,TO,75.29,light rain,-19.8000,-174.3500,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Svay Rieng,KH,76.77,overcast clouds,11.0879,105.7993,Apsara guesthouse
13,Nanakuli,US,84.11,clear sky,21.3906,-158.1547,Camp Pālehua
14,Hilo,US,87.28,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
16,Norman Wells,CA,78.84,broken clouds,65.2820,-126.8329,Heritage Hotel
24,Matara,LK,77.56,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort
25,Butaritari,KI,81.10,light rain,3.0707,172.7902,Isles Sunset Lodge
26,Itarema,BR,79.30,broken clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
36,Avarua,CK,78.85,few clouds,-21.2078,-159.7750,Paradise Inn
38,Albany,US,88.59,broken clouds,42.6001,-73.9662,
41,Pangai,TO,75.29,light rain,-19.8000,-174.3500,Ha'apai Beach Resort

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how='any')
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Svay Rieng,KH,76.77,overcast clouds,11.0879,105.7993,Apsara guesthouse
13,Nanakuli,US,84.11,clear sky,21.3906,-158.1547,Camp Pālehua
14,Hilo,US,87.28,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
16,Norman Wells,CA,78.84,broken clouds,65.2820,-126.8329,Heritage Hotel
24,Matara,LK,77.56,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort
...,...,...,...,...,...,...,...
664,Suzhou,CN,82.09,overcast clouds,31.3114,120.6181,Holiday Inn Jasmine Suzhou
671,Dicabisagan,PH,79.18,scattered clouds,17.0818,122.4157,Nancy Montanes Bernardo
674,Escanaba,US,87.94,clear sky,45.7453,-87.0646,Sunset Lodge
677,Huangmei,CN,81.81,broken clouds,30.1924,116.0250,Tianxiachan Hotel
680,Adeje,ES,80.22,clear sky,28.1227,-16.7260,Gran Tacande Wellness & Relax

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))